
nltk==3.5
sacrebleu==1.5.0
sklearn
torch==1.7.1
tensorboard
datasets==1.18.4
notebook==6.4.7
numpy==1.18.5
pandas==1.1.5
rouge==1.0.1
sacrebleu==1.5.1
sacremoses==0.0.43
scipy==1.5.4
seaborn==0.11.1
sentencepiece==0.1.95
six==1.15.0
tokenizers==0.10.1
tqdm==4.57.0
transformers==4.3.2
